<h2>Add an Event</h2>
<form class="create-form">
    <div class="form-row">
        <div class="form-group col-md-12">
            <label for="event">Event Title</label>
            <input type="text" id="title" name="title">
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-5">
            <label for="inputDate">Month</label>
            <select id="inputMonth" class="form-control">
                <option selected>Choose...</option>
                <option>01-January</option>
                <option>02-February</option>
                <option>03-March</option>
                <option>04-April</option>
                <option>05-May</option>
                <option>06-June</option>
                <option>07-July</option>
                <option>08-August</option>
                <option>09-September</option>
                <option>10-October</option>
                <option>11-November</option>
                <option>12-December</option>
            </select>
        </div>
        <div class="form-group col-md-3">
            <label for="inputDate">Day</label>
            <select id="inputDay" class="form-control">
                <option selected>Choose...</option>
                <option>01</option>
                <option>02</option>
                <option>03</option>
                <option>04</option>
                <option>05</option>
                <option>06</option>
                <option>07</option>
                <option>08</option>
                <option>09</option>
                <option>10</option>
                <option>11</option>
                <option>12</option>
                <option>13</option>
                <option>14</option>
                <option>15</option>
                <option>16</option>
                <option>17</option>
                <option>18</option>
                <option>19</option>
                <option>20</option>
                <option>21</option>
                <option>22</option>
                <option>23</option>
                <option>24</option>
                <option>25</option>
                <option>26</option>
                <option>27</option>
                <option>28</option>
                <option>29</option>
                <option>30</option>
                <option>31</option>
            </select>
        </div>
        <div class="form-group col-md-4">
            <label for="inputDate">Year</label>
            <select id="inputYear" class="form-control">
                <option selected>Choose...</option>
                <option>2020</option>
                <option>2021</option>
                <option>2022</option>
                <option>2023</option>
            </select>
        </div>
    </div>
    <div class="form-row">  
        <div class="form-group col-md-12">
            <label for="inputDescription">Description</label>
            <textarea class="form-control" aria-label="Be sure to include time, location, description, requirements, and any additional contact information needed for this event."></textarea>
        </div>
    </div>
    <button type="submit">Add Event</button>
</form>