<h2>Add an Event</h2>
<form class="create-form createEvent">
    <div class="form-row">
        <div class="form-group col-md-12">
            <label for="event">Event Title</label>
            <input type="text" id="title" name="title">
        </div>
    </div>
    <div class="form-row">
        <div class="form-group">
            <label for="exampleInputEmail1">Event Date</label>
            <input type="eventDate" class="form-control" id="eventDate" placeholder="MM/DD/YYYY"
                aria-describedby="text">
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-12">
            <label for="inputDescription">Description</label>
            <textarea class="form-control"
                placeholder="Be sure to include time, location, description, requirements, and any additional contact information needed for this event."></textarea>
        </div>
    </div>
    <button class="addEventBtn" type="submit">Add Event</button>
</form>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" src="../public/js/createEvent.js"></script>