<div class="container-scroll">
    {{!-- <div class="page-container" id="loginPage"> --}}
    <div class="row">
        <div class="col-2">
            <div class="icon">
                <img src="../images/elephantblue.png">
            </div>
        </div>
        <div class="col-7 loginPage">
            <form class="login">
                <h1>Welcome!</h1>
                <h2>Please login to continue</h2>
                <br>
                <div class="emailInput">
                    <label for="email">Email Address: </label>
                    <input class="form-control" type="email" id="email" name="email" />
                </div>
                <br />
                <div class="passwordInput">
                    <label for="password">Password: </label>
                    <input class="form-control" type="password" id="password" name="password">
                </div><br />

                <br />
                <button class="button loginBtn" type="submit">Login</button>
            </form>
    
            <form>
                <h3 class="mt-3">Need to create an account?</h3>
                <br />
                <a class="button" href="/signup">New User</a>

                <a class="button" href="/orgsignup">Organization</a>
            </form>
        </div>
        <div id="box"></div>

        <marquee class="titleTop" behavior="scroll" direction="LEFT" scrollamount="15">CHANGE FOR GOOD</marquee>
    <marquee class="lowBottom" behavior="scroll" direction="right" scrollamount="9">Communities Coming Together to Make Change</marquee>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script type="text/javascript" src="js/login.js"></script>