
    <div class="container">
        <h1>Hello!</h1>
        <h2>Sign up for an account below:</h2>
        <form class="signup">
            <div class="emailInput">
                <label for="name">Organization Name:</label><br />
                <input type="text" id="name" name="name" /><br />
                <label for="email">Email Address: </label><br />
                <input type="email" id="email" name="email" /><br />
            </div>
            <br />
            <div class="passwordInput">
                <label for="password">Password: </label><br />
                <input type="password" id="password" name="password">
            </div>
            {{!-- <br />
            <div class="passConfirm">
                <label for="passwordConfirm">Confirm Password: </label><br />
                <input type="password" id="passwordConfirm" name="passwordConfirm">
            </div> --}}
            <br />
            <div class="website" style="display: block;">
                <label for="orgSite">Website:</label><br />
                <input type="text" id="orgSite" name="orgSite" /><br />
            </div><br />
            <button class="loginBtn" type="submit">Submit</button>
        </form>
        <form>
        <p>Already have an account?</p>
        <a href="/"><button class="loginBtn" type="submit">Login Here</button></a>
        </form>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="js/orgSignup.js"></script>

