
    <div class="container">
        <h1>Hello!</h1>
        <h2>Sign up for an account below:</h2>
        <form class="signup">
            <div class="emailInput">
                <label for="name">Name:</label><br />
                <input type="text" id="name" name="name" /><br /><br />
                <label for="email">Email Address: </label><br />
                <input type="email" id="email" name="email" /><br /> <br />
            </div>
            <div class="passwordInput">
                <label for="password">Password: </label><br />
                <input type="password" id="password" name="password"> <br /> <br />
            </div>
            {{!-- <div class="passConfirm">
                <label for="passwordConfirm">Confirm Password: </label><br />
                <input type="password" id="passwordConfirm" name="passwordConfirm"> <br /><br />
            </div> --}}
            <br />
            <button class="loginBtn" type="submit">Submit</button>
        </form>
        <h3>Already have an account?</h3>
        <a  href="/"><button>Login Here</button></a>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="js/signup.js"></script>
