html,
body {
  background-image: url("");
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: #e3e3e3;
  background-attachment: fixed;
  margin: 0;
  padding: 0;
  overflow: hidden;
  z-index: 1;
}

/* ---- DROPDOWN BUTTON FUNCTIONS---- */
.dropdown {
  font-family: sans-serif;
  text-orientation: sideways;
  height: 50px;
  text-align: center;
  padding-top: 100px;
  width: 150px;
  position: relative;
  /* animation-name: DV;
  animation-duration: 7s;
  animation-delay: 1s; */
  /* animation-fill-mode: both; */
  vertical-align: middle;
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Button color */
.dropbtn {
  background-color: #641E16;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

.dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* ----> Button hover actions */
.dropdown-content a:hover {
  background-color: #2874A6;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* ---->  Button on hover with dropdown menu */
.dropdown:hover .dropbtn {
  background-color: #2874a6;
} 

/* ---- SCROLLING MARQUEE ---- */




form.signup,
form.login {
  margin-top: 25%;
}

.container {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  /* align-items: center; */
  /* justify-content: center; */

}

